                    <div class="span4">
                    <div class="portfolio-item">
                        <div class="portfolio-item-preview">
                            
                            	<img src="http://ecomax.creativ3.com/_content/divers/ban_NOUVEAU.png" class="ban_info">
                            
                            <img class='responsive-img' alt='UN BON ENCAS SAIN' src="/assets/<%=item.toserveimage%>" width='700' height='700' onmouseover="this.src='http://ecomax.creativ3.com/local/cache-gd2/58/0cd5e7d9fac331b3e18ae6d0ab28d9.jpg?1560802757'" onmouseout="this.src='http://ecomax.creativ3.com/local/cache-gd2/b5/673263f633a9973d949ae0cd60235e.jpg?1560802757'" />
                            <div class="portfolio-item-overlay">
                                <div class="portfolio-item-overlay-actions">
                                    <a class="portfolio-item-zoom" href="<%=item.title.parameterize%>?dpt=GP">
                                        <i class="ifc-zoom_in"></i>
                                    </a>
                                </div><!-- end .portfolio-item-overlay-actions -->
                            </div><!-- end .portfolio-item-overlay -->               
                        </div><!-- end .portfolio-item-preview -->
                        
                        <div class="portfolio-item-description">                        
                            <h3>
                                <a href="<%=item.title.parameterize%>?dpt=GP"><%=item.item.name%></a>
                            </h3> 
                            <a href="<%=item.title.parameterize%>?dpt=GP"><p><%=item.content%></p></a>  
                            
                        </div><!-- end .portfolio-item-description -->
                    </div><!-- end .portfolio-item -->
                    </div><!-- end .span4 -->
